* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f8f7fa;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.6;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  color: #7367f0;
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

*::-webkit-scrollbar {
  background-color: #dbdade;
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7367f0;
  border-radius: 5px;
  cursor: pointer;
}

fieldset,
input[type="radio"],
legend {
  border: none;
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: 1px solid #7367f0;
}

input:disabled {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: not-allowed;
  background-color: #4b465c14;
  opacity: 1;
}
