@mixin box {
  margin: 0;
  padding: 20px;
  width: 100%;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0 0.25rem 1.125rem #4b465c1a;
}

@mixin mainText {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.47;
  color: #6f6b7d;
}

@mixin mainButton {
  width: 100%;
  padding: 0.6rem 1.25rem;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.125;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #7367f0;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
}

@mixin closeButton {
  background-color: #fff;
  border-radius: 0.375rem;
  padding: 0.44rem;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
  z-index: 1;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  transform: translate(23px, -25px);
  width: 40px;
  height: 40px;
  background-image: url(../images/closeIcon.svg);
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    transform: translate(20px, -20px);
    opacity: 1;
  }
}

@mixin input {
  font-weight: 400;
  padding: 5px;
  width: 100%;
  font-size: 0.9375rem;
  line-height: 1;
  color: #6f6b7d;
  appearance: none;
  background-color: transparent;
  border: 1px solid #dbdade;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out;
}
